doctype html
html
  head
    title= title
    link(rel="stylesheet", href="/css/style.css")
    script(src="/js/script.js")
  body
    header
      nav
        a(href='/') Home |
        a(href='/about') ¿Quiénes somos? |
        a(href='/location') Dónde estamos |
        a(href='/mission') Qué hacemos |
        a(href='/contact') Contacto
    hr
    block content
    footer
      hr
      p © 2025 The Bridge
